{% extends 'admin.html.twig' %}

{% block title %}
	Restockage
{% endblock %}

{% block content %}
	

	<main class='restock-main'>
		<form action="" method='post' class='restock-form'>
			{% if errors.invalidProduct is defined %}
				<div>{{ errors.invalidProduct }}</div>
			{% endif %}
			{% if errors.product is defined %}
				<div>{{ errors.product }}</div>
			{% endif %}
			<input class="restock-input-1 uk-input uk-form-width-medium" placeholder="Produit" name='product'>
			{% if errors.quantity is defined %}
				<div>{{ errors.negatifQuantity }}</div>
			{% endif %}
			{% if errors.quantity is defined %}
				<div>{{ errors.quantity }}</div>
			{% endif %}
			<input class="restock-input uk-input uk-form-width-medium" type="number" placeholder="Quantié" name='quantity'>
			<button class="bouton-add-restock uk-button uk-button-default">Ajouter</button>
			
		</form>

		<div class='table-review-restock'>
			<table class="uk-table uk-table-middle uk-table-responsive uk-table-divider">
				<thead class='restock-thead'>
					<tr>
						<th>ID</th>
						<th>Produit</th>
						<th>Quantité</th>
						<th></th>
					</tr>
				</thead>
					{% for restock in restocks %}
						<tbody>
							<tr>
								<td class='restock-td'>{{ restock.id }}</td>
								<td class='restock-td'>{{ restock.product }}</td>
								<td class='restock-td'>{{ restock.quantity }}</td>
								<td>
								<a href="Admin/restock/edit?id={{ restock.id }}" uk-icon="pencil"></a>
								<a href="Admin/restock/delete?id={{ restock.id }}" uk-icon="trash" class='uk-margin-right'></a>
								</td>
							</tr>
						</tbody>
					{% endfor %}
			</table>
            <button class="bouton-validate-restock uk-button uk-button-default">Valider la commande</button>
		</div>
	</main>
{% endblock %}
