{% extends "layout.html.twig" %}

{% block title %}
	{{ parent() }}
	- contact
{% endblock %}

{% block content %}
	<header class='contact-header'></header>
	<div class="contact">
		Contact</div>
	<div class="principale">
		<div class="horaires">
			<h1 class='h1-contact'>Horaires</h1>

			<p> Lundi: Fermé
				<br>
				Mardi: 9h/12h30 - 14h/17h
				<br>
				Mercredi: 9h/12h30 - 14h/17h
				<br>
				Jeudi: 9h/12h30 - 14h/18h30
				<br>
				Vendredi: 9h/12h30 - 14h/18h30
				<br>
				Samedi: 9h/12h30 - 14h/18h30
				<br>
				Dimanche: 9h/12h30 - 14h/20h
			</p>
			<p>
				Téléphone: 07-56-24-86-21</p>
		</div>
		<div class="blackline"></div>
		<form class="input-form" method='post'>
			<h2>Nous contacter</h2>

			{% if errors.name is defined %}
				<div class='contactError'>{{ errors.name }}</div>
			{% endif %}
			<input class="contact-input uk-input" type="text" placeholder="Nom" name='name'>

			{% if errors.email is defined %}
				<div class='contactError'>{{ errors.email }}</div>
			{% endif %}
			{% if errors.emailFormat is defined %}
				<div class='contactError'>{{ errors.emailFormat }}</div>
			{% endif %}
			<input class="contact-input uk-input" type="text" placeholder="Email" name='email'>

			{% if errors.text is defined %}
				<div class='contactError'>{{ errors.text }}</div>
			{% endif %}
			{% if errors.textTooLong is defined %}
				<div class='contactError'>{{ errors.textTooLong }}</div>
			{% endif %}
			<input class="contact-input uk-input" type="text" placeholder="Texte" name='text'>

			<div class="button-log">
				<button class="contact-button uk-button uk-button-default">Envoyer</button>
			</div>
		</form>
	</div>
{% endblock %}
