{% extends 'layout.html.twig' %} 

{% block title %} {{ parent() }} - produit{% endblock %} 

{% block content %}
<div class="banner">
	<div class="banner-text">Produit</div>
</div>
<div class="produit-card uk-card uk-flex uk-container-xsmall uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
	<div class="uk-card-media-left uk-cover-container">
		<img src="/upload/{{ produits.image }}"alt="{{ produits.name }}" uk-cover>
		<canvas width="500" height="500"></canvas>
	</div>
	<div>
		<div class="uk-card-body">
			<h1 class='uk-text-position-center'>{{ produits.name}}</h1>
			<p>{{ produits.description }}</p>
			<h3 class="uk-card-title">{{ produits.price }}€/unit.</h3>
			<p uk-margin>
				<button class="uk-button uk-button-default uk-button-large">Ajouter au panier</button>
			</p>
		</div>
	</div>
</div>
{% endblock %}