{% extends "layout.html.twig" %}

{% block title %}
	{{ parent() }}
	- Sign-up
{% endblock %}

{% block content %}
	<header class='sign-header'>
		<h2 class="h2-sign">Créer un compte</h2>
	</header>
	<div class="formulaire-sign">
		<div class="uk-margin">
			<form class="form-sign uk-form-controls" method='post'>
				{% if errors.userId is defined %}
					<div class='signErrors'>{{ errors.userId }}</div>
				{% endif %}

				{% if errors.userIdTooLong is defined %}
					<div class='signErrors'>{{ errors.userIdTooLong}}</div>
				{% endif %}
				<div class="uk-form-controls">
					<input class="input-sign uk-input" id="form-horizontal-text" type="text" placeholder="Identifiant" name='userId'>
				</div>
				{% if errors.lastname %}
					<div class='signErrors'>{{ errors.lastname }}</div>
				{% endif %}
				<div class="uk-form-controls">
					<input class="input-sign uk-input" id="form-horizontal-text" type="text" placeholder="Nom" name='lastname'>
				</div>
				{% if errors.firstname is defined %}
					<div class='signErrors'>{{ errors.firstname }}</div>
				{% endif %}
				<div class="uk-form-controls">
					<input class="input-sign uk-input" id="form-horizontal-text" type="text" placeholder="Prenom" name='firstname'>
				</div>
				{% if errors.email is defined %}
					<div class='signErrors'>{{ errors.email }}</div>
				{% endif %}

				{% if errors.emailFormat is defined %}
					<div class='signErrors'>{{ errors.emailFormat}}</div>
				{% endif %}
				<div class="uk-form-controls">
					<input class="input-sign uk-input" id="form-horizontal-text" type="text" placeholder="Email" name='email'>
				</div>
				{% if errors.password %}
					<div class='signErrors'>{{ errors.password }}</div>
				{% endif %}
				
				{% if errors.smallPassword %}
					<div class='signErrors'>{{ errors.smallPassword }}</div>
				{% endif %}

				{% if errors.notSecurePassword %}
					<div class='signErrors'>{{ errors.notSecurePassword }}</div>
				{% endif %}
				<div class="uk-form-controls">
					<input class="input-sign uk-input" id="form-horizontal-text" type="password" placeholder="Mot de passe" name='password'>
				</div>
				<div class="button-sign">
					<button class="button-creat-account uk-button uk-button-default">Créer un compte</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
